/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.img-thumbnail {
    border: none;
    -o-object-fit: cover;
    object-fit: cover;
    width: 6.25rem;
    height: 6.25rem;
}